{{ define "head" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">

    <title>
        {{ .PageTitle }}
    </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <nav class="container-fluid">
        <ul>
            <li><a href="/" class="contrast"><strong>Systementor</strong><span class="ejm"> IT Utbildningar</span></a>
            </li>
        </ul>
        <ul>
            {{ if .CurrentUser }}
            <li>
                <a href="/">Projects</a>
            </li>
            <li>
                <a href="/admin/account">Account</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
            {{ else }}
            <li>
                <a href="/login">Login</a>
            </li>

            {{ end }}

        </ul>
    </nav>

    <main class="container">
        {{ end }}